body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    border: 1px solid #555;
    background-color: #2D6469;
    width: 25%;
    height: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
}
li a{
    display: block;
    padding: 8px 16px;
    text-align: center;
    color: #3CABB5;
    text-decoration: none;
}
li a:hover{
    background-color: #3CABB5;
    color: #fff;
}

img.github {
    width:100px; 
    height:100px;
}
div{
    margin-left:25%;
    padding:1px 16px;
    height:100%;
    background-color: #fff;
}